@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Titillium+Web:wght@200;300;400;600;700&family=Xanh+Mono:ital@1&family=Yellowtail&display=swap');* {
  font-family: "Titillium Web";
  margin: 0;
  padding: 0;
}
h1 {
  font-family: "Dancing Script";
  font-size: 3rem;
  color: white;
  display: flex;
  justify-content: center;
  width: 1100px;
  margin: 20px;
}

p {
  font-family: "Titillium Web";
  color: rgb(22, 19, 19);
  display: flex;
  justify-content:center;
  background-color: white;
  width: 500px;
  margin: 0 auto;
  border: solid 10px #095e36;
  border-radius: 30px;
  padding: 10px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("pexels-anna-shvets-3987020.jpg");
    background-size: cover;
    background-position: center center;
  }
  
  #app {
    background-color: white;
    width: 500px;
    margin: 50px 50px 50px 300px;
    border: solid 10px #095e36;
    border-radius: 30px;
    padding: 10px;
  }
  
  #time {
    text-align: center;
    padding: 20px 0;
  }
  #time #value {
    font-size: 48px;
    font-weight: bolder;
  }
  
  .form {
    display: flex;
    justify-content: center;
  }
  
  input[type="text"] {
    padding: 10px;
    border: solid 1px #ccc;
    width: 300px;
  }
  button,
  input[type="submit"] {
    border: none;
    background-color: #095e36;
    color: white;
    padding: 10px;
    border-radius: 5px;
  }
  
  #tasks {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
  }
  .task {
    display: flex;
    gap: 10px;
    align-items: center;
  }
  .task .completed {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .done {
    display: inline-block;
    padding: 5px;
    background-color: #ccc;
  }
  /* Estilos para pantallas grandes */
@media only screen and (min-width: 768px) {
  h1 {
    font-size: 3rem;
    width: 1100px;
  }
  p {
    width: 500px;
    margin: 0 auto;
  }
  #app {
    width: 500px;
    margin: 50px 50px 50px 300px;
  }
}



